<!-- Base leave review page for all the leave review pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title> {% block title %} { page_title } {% endblock %} - Leave a review </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link rel="stylesheet" href="../../static/styles/LeaveReview.css">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <h1> Leave a Review </h1>

  <form method="POST" action="{ url_for('blog.create', location_id=location_id )}}  ">
    <h2>{% block h2 %} { h2_name } {% endblock %}</h2>

    <!-- Title-->
    <label>What meal did you get?</label>
    <input type="text" name="meal" placeholder="What did you eat?" required>

    <!-- Ratings -->
    <label>How would you rate your experience on a scale of 1-5 (5 being the best)?</label>
    <input type="radio" name="stars" value="1" required>1
    <input type="radio" name="stars" value="2">2
    <input type="radio" name="stars" value="3">3
    <input type="radio" name="stars" value="4">4
    <input type="radio" name="stars" value="5">5

    <!--The post itself-->
    <label>Summarize your overall experience at {% block location %} {{ location_name }} {% endblock %}</label>
    <textarea name="body" placeholder="Begin..." required>{{ comment_text }}</textarea>


    <button class="end" id="submit" type="submit" onclick="location.href='/menu'">Submit Review!</button>
    <button class="end" id='cancel' onclick="location.href='/menu'">Cancel</button>


  </form>
</body>

</html>