<!--base review page for all review pages -->
<!DOCTYPE html> 
<html lang="en">
<head>
    <title>{% block title %}{{ page_title }}{% endblock %} - Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="../../static/reviewPage.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  </head>
  
  <body>
    <article class="review">
      <h1>{% block h1 %} {{ h1_name }} {% endblock %} Reviews</h1>
      <button class="nav" id="menu" onclick="location.href='../menu.html'">Main Menu</button>
      <button class="nav" id="leave" onclick="location.href='../pages/argoLeaveReview.html'">Leave a Review</button>
       <!-- need to make this go to the right ^ location depending on what location it's at.-->
    </article>
  

    <div class="review-section">
      {% for post in reviews %}
      <article class="review" id="post">
          <p class="ptitle">{{ post.title }}</p>
          <p class="prating">{{ post.rating }} stars </p>
          <p class="pbody">{{ post.body }}</p>
          <p class="pauthor">by {{ post.username }} at {{ post.created }}</p>
      </article>
      {% endfor %}

    </div>
  
  </body>
  
  </html> 