body {
    background-color: #9B1D20; 
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    
}

#container {
    border-radius: 10px;
    border: 100px; 
    max-width: 500px;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: black;
    
}

form {
    margin-top: 20px;
    margin-bottom: 50px;
}

label {
    margin-bottom: 5px;
    color: black;
    width: 100%;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

#signUp, #cancelButton {
    background-color: #d12d0d;
    color: #fff;
    font-size: 16px;
    border: 1px solid black;        
    
}
.buttonalign {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;    
}
