body {
    background-color: #f62c2c;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    
}

#container {
    border-radius: 10px;
    border: 100px; 
    max-width: 500px;
    
    
}

h1 {
    font-size: 35px;
    text-align: center;
    color: black;
    
}

form {
    margin-top: 20px;
    margin-bottom: 50px;
}

label {
    /*display: block;*/
    margin-bottom: 5px;
    color: black;
    /*padding: 8px;*/
    width: 100%;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #d3d3d3;
}
.signUp {
    
    margin-right: -20px;
}


.signUp, .cancelButton {
    background-color: #d12d0d;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}
.buttonalign {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;    
}
