body {
    font-family: Arial, sans-serif;
    background-color: #9B1D20; 
   
  }

  img {
  height: 100%;
  max-width: 800px;
  width: 100%;
}

button {
    background-color: black;
    color: white; 
    border-radius: 5px; 
    cursor: pointer;

}




.navbar-custom {
  background-color: #d3b88c;
}