html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif, Ageo;
}

.review {
    border: 2px solid black;
    border-radius: 10px;
    /*margin-bottom: 20px;*/
    max-width: 400px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #c41e3d;
}

footer {
    bottom: 0;
}

.navbar-custom {
    background-color: #c41e3d;
    /*E30022  D52941*/
}

.carousel-item img {
    height: 500px;
    object-fit: contain;
}

.bg-custom {
    background-color: #26619c;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-brand:hover {
    color: white !important;
}