body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif, Ageo;
    background-color: #9B1D20; 
}

.header {
    text-align: center;
    width: 100%;
    background-color: #d3b88c;
    color: black;   
}

/*.title {
            
    margin-top: 10px;
            margin-right: 15px;
           
}*/

#logout,
#map{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: none;
    padding: 12px;
    cursor: pointer;
}

#map {
    margin-left: -5px;
}

#logout {
    margin-right: 20px;
}



.content {
    text-align: center;
    padding: 20px;
}

.market-title {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.map-button {
    margin-right: 1px;
}

.review-button,
.current-reviews-button {
    background-color: black;
    color: #fff;
    border: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
    cursor: pointer;
}


.place {
    margin-bottom: 2%;
}

img {
    width:100px;
}