/* styles for the review section. Need to be edited
current review section just has example inputs
Review page standard*/

body {
  background-color:#9B1D20; 
}
.review-section {
  font-family: Arial, sans-serif;
}

.review {
  border: 2px solid black;
  border-radius: 10px;
  /*margin-bottom: 20px;*/
  max-width: 600px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color:#d3b88c;
}
#b {
  background-color: #d3b88c;
}
  
.header {
  background-color: #d3b88c;
  color: black;
  font-family: Arial, sans-serif;

}

#menu {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}