/* styles for the review section. Need to be edited
current review section just has example inputs
Review page standard*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif, Ageo;
}

footer {
  padding:1rem;
  width: 100%;
  height: 10rem;
}

.container {
  flex: 1;
}




.review-section {
  font-family: Arial, sans-serif;
}

.review {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #c41e3d;
}

/* Save this to apply to the reviewer from the db. 
.review .reviewer {
  font-style: italic;
  margin-top: 10px;
  font-family: Arial, sans-serif;
} */


#menu {
  background-color: black;
  color: #d3b88c;
  border-radius: 5px;
  cursor: pointer;

}

.navbar-custom {
  background-color: #c41e3d;
  
}


.bg-box {
  background-color: #c41e3d;
}

.bg-custom {
  background-color: #26619c;
  
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-brand:hover {
  color: white;
}