<!DOCTYPE html>
<html lang="en">

<head>
  <title>SUNY Snacks - Parking Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"> 
  <link rel="stylesheet" href="{{ url_for('static', path='/styles/map.css') }}">
  
</head>

<body>

  <div class="header">
    <h1>Parking Map</h1>
    <button onclick="location.href='/menu'">Back</button>
  </div>

  <div class="img">
    <img src="../static/images/map.png" alt="Map">
  </div>




</body>

</html>