<!-- Base leave review page for all the leave review pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title> {% block title %} { page_title } {% endblock %} - Leave a review </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='styles/LeaveReview.css') }} " />
  <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!--header/navbar-->
  <nav class="navbar navbar-expand-lg navbar-custom ">
    <div class="container-fluid p-1">
      <a class="navbar-brand" href="/menu" text="white"> SunySnacks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item custom">
          <a class="nav-link text-white custom fw-bold" href="/menu"> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fw-bold" data-bs-toggle="dropdown" role="button"
            aria-expanded="false">Campus Map</a>
          <ul class="dropdown-menu bg-secondary">
            <li> <a class="dropdown-item" target="_blank"
                href="https://www.google.com/maps/place/42%C2%B028'04.3%22N+75%C2%B003'43.5%22W/@42.467861,-75.062069,17z/data=!3m1!4b1!4m4!3m3!8m2!3d42.467861!4d-75.062069?entry=ttu&g_ep=EgoyMDI1MDEyNi4wIKXMDSoASAFQAw%3D%3D">Argo
                Tea</a></li>
            <li> <a class="dropdown-item" target="_blank"
                href="https://www.google.com/maps/place/42%C2%B028'07.5%22N+75%C2%B003'38.2%22W/@42.468741,-75.060596,17z/data=!3m1!4b1!4m4!3m3!8m2!3d42.468741!4d-75.060596?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D">Mills
                Marketplace</a></li>
            <li> <a class="dropdown-item" target="_blank"
                href="https://www.google.com/maps/search/?api=1&query=42.468741,-75.060596">Mills Dining Hall</a></li>
            <li> <a class="dropdown-item" target="_blank"
                href="https://www.google.com/maps/place/42%C2%B028'<!-- 1 -->3.2%22N+75%C2%B003'45.6%22W/@42.470332,-75.062667,17z/data=!3m1!4b1!4m4!3m3!8m2!3d42.470332!4d-75.062667?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D">Seasons</a>
            </li>
            <li> <a class="dropdown-item" target="_blank"
                href="https://www.google.com/maps/place/42%C2%B028'07.6%22N+75%C2%B003'37.5%22W/@42.468781,-75.060411,17z/data=!3m1!4b1!4m4!3m3!8m2!3d42.468781!4d-75.060411?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D">Wilsbach
                Dining Hall</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fw-bold" data-bs-toggle="dropdown" role="button"
            aria-expanded="false">Create Review</a>
          <ul class="dropdown-menu bg-secondary">
            <li> <a class="dropdown-item" href="/createR/argoLeaveReview">Argo Tea</a></li>
            <li> <a class="dropdown-item" href="/createR/marketLeaveReview">Mills Marketplace</a></li>
            <li> <a class="dropdown-item" href="/createR/millsLeaveReview">Mills Dining Hall</a></li>
            <li> <a class="dropdown-item" href="/createR/seasonsLeaveReview">Seasons </a></li>
            <li> <a class="dropdown-item" href="/createR/wilsLeaveReview"> Wilsbach Dining Hall</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fw-bold" data-bs-toggle="dropdown" role="button"
            aria-expanded="false"> Current Reviews</a>
          <ul class="dropdown-menu bg-secondary">
            <li> <a class="dropdown-item" href="/reviewP/argoReview">Argo Tea</a></li>
            <li> <a class="dropdown-item" href="/reviewP/marketReview">Mills Marketplace</a></li>
            <li> <a class="dropdown-item" href="/reviewP/millsReview">Mills Dining Hall</a></li>
            <li> <a class="dropdown-item" href="/reviewP/seasonsReview">Seasons </a></li>
            <li> <a class="dropdown-item" href="/reviewP/wilsReview"> Wilsbach Dining Hall</a></li>
        </li>
      </ul>
      <!--<li class="nav-item">
        <a class="nav-link text-white fw-bold" href="auth/login"> Log out</a>
      </li>-->
      </ul>
    </div>
    </div>
  </nav>
  <form class="my-5 pb-4 bg-custom" method="post" action="/reviewcreate">
    <h2 class="text-center text-white"><strong>Create your Review for {% block h2 %} { h2_name } {% endblock %}</strong>
    </h2>

    <!--location_id-->
    {% block input %} { location_id } {% endblock %}

    <!-- Title-->
    <label class="mt-3 d-block text-white" for="meal"><strong>What meal did you get?</strong></label>
    <input type="text" id="meal" name="meal" placeholder="What did you eat?" required>

    <!-- Ratings -->
    <label class="mt-3 d-block text-white" for="rating"><strong>How would you rate your experience on a scale of 1-5 (5
        being the
        best)?</strong></label>
    <input class="me-1" id="rating" type="radio" name="stars" value="1" required><span class="text-white">1</span>
    <input class="me-1" id="rating" type="radio" name="stars" value="2"><span class="text-white">2</span>
    <input class="me-1" id="rating" type="radio" name="stars" value="3"><span class="text-white">3</span>
    <input class="me-1" id="rating" type="radio" name="stars" value="4"><span class="text-white">4</span>
    <input class="me-1" id="rating" type="radio" name="stars" value="5"><span class="text-white">5</span>

    <!--The post itself-->
    <label class="mt-3 d-block text-white" for="body"><strong>Summarize your overall experience at {% block location %}
        {{
        location_name }} {% endblock
        %}</strong></label>
    <textarea class="mb-3" name="content" id="body" placeholder="Begin..." required></textarea>
    <label class="mt-3 d-block text-white fw-bold" for="author">Please enter a display nickname.</label>
    <input class="mb-3" type="text" id="author" name="author" placeholder="Any nickname..." required>

    <button class="btn p-2 text-white" id="submit" type="submit">Submit Review!</button>
    <button class="btn p-2 text-white" id="cancel" onclick="location.href='/menu'">Cancel</button>


  </form>

  <footer class="navbar-custom text-white text-center py-3 mt-5">
    <div class="container">
      <p class="fs-4 mb-3">For more details about the dining options, click the link below:</p>
      <a href="https://oneonta.sodexomyway.com/en-us/" target="_blank"
        class="text-white fs-3 fw-bold text-decoration-none">
        SUNY Oneonta official dining option website
      </a>
    </div>
  </footer>

</body>

</html>