<!-- Base leave review page for all the leave review pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title> {% block title %} { page_title } {% endblock %} - Leave a review </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='styles/LeaveReview.css') }} " />
  <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container-fluid header p-2">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active text-black fw-bold" href="/menu"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fw-bold" href="/map"> Campus Map</a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black fw-bold" data-bs-toggle="dropdown" role="button"
            aria-expanded="false">Create Review</a>
          <ul class="dropdown-menu bg-secondary">
            <li> <a class="dropdown-item" href="/createR/argoLeaveReview">Argo Tea</a></li>
            <li> <a class="dropdown-item" href="/createR/marketLeaveReview">Mills Marketplace</a></li>
            <li> <a class="dropdown-item" href="/createR/millsLeaveReview">Mills Dining Hall</a></li>
            <li> <a class="dropdown-item" href="/createR/seasonsLeaveReview">Seasons </a></li>
            <li> <a class="dropdown-item" href="/createR/wilsLeaveReview"> Wilsbach Dining Hall</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black fw-bold" data-bs-toggle="dropdown" role="button"
            aria-expanded="false"> Current Reviews</a>
          <ul class="dropdown-menu bg-secondary">
            <li> <a class="dropdown-item" href="/reviewP/argoReview">Argo Tea</a></li>
          <li> <a class="dropdown-item" href="/reviewP/marketReview">Mills Marketplace</a></li>
          <li> <a class="dropdown-item" href="/reviewP/millsReview">Mills Dining Hall</a></li>
          <li> <a class="dropdown-item" href="/reviewP/seasonsReview">Seasons </a></li>
          <li> <a class="dropdown-item" href="/reviewP/wilsReview"> Wilsbach Dining Hall</a></li>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold" href="auth/login"> Log out</a>
      </li>
      </ul>
    </div>
  <form class="my-5 pb-4" method="post" action="/reviewcreate">
    <h2 class="text-center"><strong>Create your Review for {% block h2 %} { h2_name } {% endblock %}</strong></h2>

    <!--location_id-->
    {% block input %} { location_id } {% endblock %}

    <!-- Title-->
    <label class="mt-3 d-block" for="meal"><strong>What meal did you get?</strong></label>
    <input type="text" id="meal" name="meal" placeholder="What did you eat?" required>

    <!-- Ratings -->
    <label class="mt-3 d-block" for="rating"><strong>How would you rate your experience on a scale of 1-5 (5 being the
        best)?</strong></label>
    <input class="mr-1" id="rating" type="radio" name="stars" value="1" required>1
    <input class="mr-1" id="rating" type="radio" name="stars" value="2">2
    <input class="mr-1" id="rating" type="radio" name="stars" value="3">3
    <input class="mr-1" id="rating" type="radio" name="stars" value="4">4
    <input class="mr-1" id="rating" type="radio" name="stars" value="5">5

    <!--The post itself-->
    <label class="mt-3 d-block" for="body"><strong>Summarize your overall experience at {% block location %} {{
        location_name }} {% endblock
        %}</strong></label>
    <textarea class="mb-3" name="content" id="body" placeholder="Begin..." required></textarea>

    <button class="btn p-2" id="submit" type="submit">Submit Review!</button>
    <button class="btn p-2" id='cancel' onclick="location.href='/menu'">Cancel</button>


  </form>
</body>

</html>