<!-- Changed the page to be custom to each review page.-->
{% extends 'blog/base_reviews.html' %}

{% block title %} Argo Tea {% endblock %}

{% block h1 %} Argo Tea {% endblock %}

{% block content %} <button class="btn p-2 mx-2" id="menu" onclick="location.href='/createR/argoLeaveReview'">Leave a Review</button> {% endblock %}

{% block location %} Argo Tea {% endblock %}

{% block time %} Argo Tea is only open from 9:00AM to 4:30PM Monday through Friday. {% endblock %}

{% block place %} Argo Tea {% endblock %}