<!-- Changed the page to be custom to each review page.-->
{% extends 'blog/base_reviews.html' %}

{% block title %} Mills Dining Hall {% endblock %}

{% block h1 %} Mills Dining Hall {% endblock  %}

{% block content %} <button class="btn p-2 mx-2" id="menu" onclick="location.href='/createR/millsLeaveReview'">Leave a Review</button> {% endblock %}

{% block location %} Mills Dining Hall {% endblock %}

{% block time %} Mills Dining Hall is open from 11:00AM to 11:00PM Monday through Thursday. Friday they close an hour earlier.
 On the weekend they are open from noon to 11:00PM {% endblock %}

 {% block place %} Mills Dining Hall{% endblock %}