<!-- Changed the page to be custom to each review page.-->
{% extends 'blog/base_reviews.html' %}

{% block title %} Seasons {% endblock %}

{% block h1 %} Seasons {% endblock %}

{% block content %} <button class="btn p-2 mx-2" id="menu" onclick="location.href='/createR/seasonsLeaveReview'">Leave a Review</button> {% endblock %}

{% block location %} Seasons {% endblock %}

{% block time %} Seasons is open from 7:30AM to 3:00PM Monday through Friday. {% endblock %}

{% block place %} Seasons {% endblock %}