<!-- Changed the page to be custom to each review page.-->
{% extends 'blog/base_reviews.html' %}

{% block title %} Wilsbach Dining Hall{% endblock %}

{% block h1 %} Wilsbach Dining Hall {% endblock %}

{% block content %} <button class="btn p-2 mx-2" id="menu" onclick="location.href='/createR/wilsLeaveReview'">Leave a Review</button> {% endblock %}

{% block location %} Wilsbach Dining Hall {% endblock %}

{% block time %} Wilsbach Dining Hall is open from 7:30AM to 8:00PM Monday through Thursday. Friday they close an hour earlier. 
Sunday they are open from 9:00AM to 8:00PM. Saturday they close an hour earlier.  {% endblock %}

{% block place %} Wilsbach  {% endblock %}