<!-- Changed the page to be custom to each review page.-->
{% extends 'blog/base_reviews.html' %}

{% block title %} Wilsbach Dining Hall{% endblock %}

{% block h1 %} Wilsbach Dining Hall {% endblock %}

{% block content %} <button class="btn p-2 mx-2" id="menu" onclick="location.href='/createR/wilsLeaveReview'">Leave a Review</button> {% endblock %}

{% block location %} Wilsbach Dining Hall {% endblock %}

{% block time %} Wilsbach Dining Hall is open from 7:30AM to 8:00PM Monday through Thursday. Friday they close an hour earlier. 
Sunday they are open from 9:00AM to 8:00PM. Saturday they close an hour earlier.  {% endblock %}

{% block place %} Wilsbach  {% endblock %}


{% block description %} Wilsbach Dining Hall contains contains more of the breakfast foods, from cereal to omelets to waffles. 
For dinner the option of pasta, pizza, vegan food, or an organic meal. 
{% endblock %}

{% block socials%} <div class="card-text row mt-0">
    <a class="text-reset mb-1 link-underline link-underline-opacity-0 "
        href="https://www.instagram.com/SUNYONEYDINING/">
        Seasons' Instagram</a>
    <a class="text-reset mb-1 link-underline link-underline-opacity-0 "
        href="https://oneonta.sodexomyway.com/en-us/locations/seasons">Seasons Official website</a>
    <p class="mb-0">For students <a class="text-reset link-underline link-underline-opacity-0"
            href="https://play.google.com/store/apps/details?id=com.cbord.get&pcampaignid=web_share">GET App
            Playstore</a>
        <a class="text-reset link-underline link-underline-opacity-0"
            href="https://apps.apple.com/us/app/get-mobile/id844091049">GET App Store</a>
    </p>
</div>
{% endblock %}