<!-- This is the login page for the app. First page that's seen when the app is opened.-->
<!DOCTYPE html> 
<html lang="en">
 

<head>
  <title>SUNY Snacks - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta charset="UTF-8">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"> 
  <link rel="login stylesheet" href="../styles/login.css"/>
  <link rel="whole style sheet" href="../style.css"> 

  
</head>

<body>
  <div class="login-form">
  
<div class="logo">
  <img class="icon" src="../images/favicon.ico" alt="logo">
</div>

    <form class="login">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <button id="signin" class="signIn" > Sign In </button> <!--onclick="location.href='../pages/menu.html'"-->
      <!-- The type="button" sort of prevents user from submitting and moving on.-->
      <!--script>
      document.getElementById("signin") = function signIn () {
        if ()
      }
      </script> -->
      <!--Figure out how to prevent user from logging w/out submitting info-->
    </form>
    <p>Don't have an account? <a href="../pages/create.html"><b> Click here to sign up!</a></b></p>
  </div>
</body>

</html>