<!DOCTYPE html> <!-- This is the main menu after you log in -->
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/styles/menu.css" />
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"> 
  <title>SUNY Snacks - Menu</title>

</head>

<body>
  <div class="header">
    <h1 class="title">SUNY Snacks</h1>
    <button class="logout-button" onclick="location.href='auth/login.html'">Log Out</button>
    <button class="map-button" onclick="location.href='map.html'">Campus Map</button>

  </div>

  <div class="content">
    <section class="place">
      <h2 class="market-title">Argo Tea</h2>
      <button class="review-button" onclick="location.href='createR/argoLeaveReview.html'">Leave a Review</button>
      <button class="current-reviews-button" onclick="location.href = 'reviewP/argoReviewPage.html'">See Current
        Reviews</button>
    </section>

    <section class="place">
      <h2 class="market-title">Mills Dining Hall</h2>
      <button class="review-button" onclick="location.href='createR/millsLeaveReview.html'">Leave a Review</button>
      <button class="current-reviews-button" onclick="location.href = 'reviewP/millsReviewPage.html'">See Current
        Reviews</button>
    </section>

    <section class="place">
      <h2 class="market-title">Mills Marketplace</h2>
      <button class="review-button" onclick="location.href='createR/marketLeaveReview.html'">Leave a Review</button>
      <button class="current-reviews-button" onclick="location.href = 'reviewP/marketReviewPage.html'">See Current
        Reviews</button>
    </section>

    <section class="place">
      <h2 class="market-title">Seasons</h2>
      <button class="review-button" onclick="location.href='createR/seasonsLeaveReview.html'">Leave a Review</button>
      <button class="current-reviews-button" onclick="location.href = 'reviewP/seasonsReviewPage.html'">See Current Reviews</button>
    </section>

    <section class="place">
      <h2 class="market-title">Wilsbach Dining Hall</h2>
      <button class="review-button" onclick="location.href='createR/wilsLeaveReview.html'">Leave a Review</button>
      <button class="current-reviews-button" onclick="location.href = 'reviewP/wilsReviewPage.html'">See Current
        Reviews</button>
    </section>
  </div>
</body>

</html>