body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fa462f;
    border-radius: 5px;
}

h1 {
    font-size: 35;
    text-align: center;
    color: black;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
}


.signUp, .cancelButton {
    background-color: #d12d0d;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}
.buttonalign {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

#role { 
    width: 520px;
}
