body {
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f62c2c;
    display: flex;
    align-items: center;
  
  }

img {
  display: flex;
  align-items: bottom;
  margin: 0 auto;
  height: 100%;
  max-width: 800px;
  width: 100%;
}

button {
    position: absolute; 
    top: 620px; 
    left: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;  
    font-size: 16px; 
    border-radius: 5px; 
    padding: 12px 12px; 
    cursor: pointer;
}