/* styles for the review section. Need to be edited
current review section just has example inputs
Review page standard*/
body,
html {
  margin: 0;
  padding: 0;
}

.review-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

.review {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  /*margin-bottom: 20px;*/
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.review h3 {
  font-size: 24px;

}

.review p {
  font-size: 18px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

/* Save this to apply to the reviewer from the db. 
.review .reviewer {
  font-style: italic;
  margin-top: 10px;
  font-family: Arial, sans-serif;
} */



.header {
  background-color: #ff0707;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;

}

.nav {
  
  background-color: white; 
  color: #EE4B2B;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
}